<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href='static/trgovina.css' rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- About --->
    <br/>
    <br/>
    <img class="about_me_image" src="static/images/image_aboutme_circle.png" />

    <h1 class="about_me_title"> About me </h1>
    <p class="about_me_text">
        I am an enthusiastic oil and pastel painter, having a deep passion for art.<br/>
        I have been painting with oils for more than 10 years, mostly landscapes, flowers,<br/>
        seascapes and sometimes portraits.<br/>
        <br/>
        I paint various subjects and scenes, focusing on the colors and especially on the mood of the scene.<br/>
        Although I discovered soft pastels a lot later, I especially love using them because of their<br/>
        vibrant colors and soft application on fine sanded papers. Although using pastels is often<br/>
        considered drawing, I consider it painting because of its similar application of color and finished look.<br/>
        Through trial and error I have become very comfortable working with colors, developing my own style<br/>
        of painting, which is somewhere between impressionism and realism.<br/>
        <br/>
        I wish to produce colourful paintings which make the admirer feel the passion and the positive<br/>
        energy of the painting. My biggest personal goal as a painter is to sell paintings to homes in which my<br/>
        painting is a part of their living area, being appreciated and admired every day.<br/>

    </p>

    <h1 class="about_me_title"> Materials I use </h1>
    <p class="about_me_text">
        I only use soft pastels from the best soft pastel companies, mostly from Schmincke,<br/>
        Sennelier, Unison, Blue Earth and Jackson's.<br/>
        <br/>
        All of their pastels are incredibly pigmented and most importantly, do not fade over time.<br/>
        The pastels and the acid-free papers I use all ensure the paintings are suitable for<br/>
        galleries and will stay the same for hundreds of years.<br/>
    </p>
    <img class="about_me_image_pastels" src="static/images/pastels.jpg" />




</body>

</html>