<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href='static/trgovina.css' rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- About --->
    <br/>
    <br/>
    <img class="about_me_image" src="static/image_aboutme_circle.png" />
    <br/>
    <h1 class="about_me_title"> About me </h1>
    <p class="about_me_text">
        blablablablabld ablabalab ladfuhksfaljčakgfsh fduhslglčfhg <br/>
        blablabla  blablablabalabla uasihidjgfdgfh jmh dgusahkllsačdsa <br/>
        blablablablablablabalab lada asdsfbnklgm fhgjhhfgddsaf <br/>
        blablablablabla blabalabla eiuhwojprgk thflyjghkčikjytior <br/>
    </p>


</body>

</html>