<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href='static/trgovina.css' rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- About --->

    <div class="shopping-cart" style="width:1100px">
        <table>
            <tr>
                <th style="padding:30px; width:70%">
                    <h2 class="about_me_title"> About me </h2>
                    <p class="about_me_text" style="text-align:left">
                        I am an enthusiastic oil and pastel painter, having a deep passion for art.
                        I have been painting with oils for more than 10 years, mostly landscapes, flowers,
                        seascapes and sometimes portraits.
                        <br/>
                        <br/>
                        I paint various subjects and scenes, focusing on the colors and especially on the mood of the scene.
                        Although I discovered soft pastels a lot later, I especially love using them because of their
                        vibrant colors and soft application on fine sanded papers.
                        <br/>
                        <br/>
                        Although using pastels is often
                        considered drawing, I consider it painting because of its similar application of color and finished look.
                        Through trial and error I have become very comfortable working with colors, developing my own style
                        of painting, which is somewhere between impressionism and realism.
                        <br/>
                        <br/>
                        I wish to produce colourful paintings which make the admirer feel the passion and the positive
                        energy of the painting. My biggest personal goal as a painter is to sell paintings to homes in which my
                        painting is a part of their living area, being appreciated and admired every day.
                    </p>
                </th>

                <th style="width:30%; padding-right: 30px">
                    <img class="about_me_image" src="static/images/image_about_me_circle.png" />
                </th>
            </tr>
        </table>
    </div>

    <!--- Pastels ---->
    <div class="shopping-cart" style="width:1100px">
        <table>
            <tr>
                <th style="width:60%; padding-left:30px">
                    <img class="about_me_image_pastels" src="static/images/pastels.jpg" />
                </th>

                <th style="padding:30px; width:40%">
                    <h2 class="about_me_title" style="text-align:right"> Materials I use </h2>
                    <p class="about_me_text" style="text-align:right">
                        I only use soft pastels from the best soft pastel companies, mostly from Schmincke,
                        Sennelier, Unison, Blue Earth and Jackson's.
                        <br/>
                        <br/>
                        All of their pastels are incredibly pigmented and most importantly, do not fade over time.
                        The pastels and the acid-free papers I use all ensure the paintings are suitable for
                        galleries and will stay the same for hundreds of years.
                    </p>
                </th>
            </tr>
        </table>
    </div>

    <!--- Framing ---->
    <div class="shopping-cart" style="width:1100px">
        <table>
            <tr>
                <th style="padding:30px; width:40%">
                    <h2 class="about_me_title" style="text-align:left"> Framing pastel paintings </h2>
                    <p class="about_me_text" style="text-align:left">
                        Pastel paintings have to be framed in a specific way to ensure any dust from the pastels does not
                        get on the passe-partout or stuck on the glass.
                        <br/>
                        <br/>
                        I create additional space between the painting and passe-partout with foam in between them.
                        I also cover all the insides with double sided adhesive tape which ensures any pastel dust falling of
                        the painting stays in on the tape behind the passe-partout.
                        <br/>
                        <br/>
                        Framing (with frame or just the passe-partout) is possible for an
                        additional fee of 5€.
                    </p>
                </th>

                <th style="width:60%; padding-right:30px">
                    <img class="about_me_image_pastels" src="static/images/passepartout.jpg" />
                </th>

            </tr>
        </table>
    </div>

</body>

</html>