<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
        <a class="active" href="/">Home</a>
        <a href="/store">Store</a>
        <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- Shopping basket --->
    <div class="shopping-cart">
        <!-- Title -->
        <div class="basket_title"> Shopping Basket </div>

        <!-- Products -->
        <% for (id, naslov_slike, pot_slike, cena_slike) in relevantni_podatki_slik_kosarice: %>
        <div class="basket_item" style="width:100%">
            <form class="delete_btn_form" method="post" action="/basket/remove_painting{{id}}" style="width:5%">
                <input type="image" class="basket_delete-btn" src="static/images/delete.png" />
            </form>

            <img class="basket_image" src="static/images/{{pot_slike}}.jpg"  style="width:20%"/>
            <p class="basket_description"  style="width:50%"> {{naslov_slike}} </p>
            <div class="basket_total-price"  style="width:25%"> {{cena_slike}}€ </div>
        </div>
        <% end %>

        <!-- Total price -->
        <div class="basket_item" style="width:100%; height: 60px; border-top:1px solid #E1E8EE;">
            <div  style="width:100%; text-align:right"> Price total: </div>
            <div style="width:100%; text-align:right;"> {{cena_kosarice}}€ </div>
        </div>

        <!--- Buy button --->

        <form style="width:100%" action="/basket/invoice" method="get">
            <button type="submit" class="store_button" style="width:200px ;align:right; margin-left: 30px;" value="Submit"> Complete purchase </button>
        </form>


    </div>

</body>

</html>