<!DOCTYPE html>
<html lang="en">

<head>
    <title> Larisa Carli | Fine Art </title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a class="active" href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- Contact form --->

    <div class="container">
      <form action="/">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <br/>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <br/>

        <label for="lname">Email</label>
        <input type="text" id="email_form" name="email_form" placeholder="Your email..">
        <br/>

        <label for="subject">What would you like to ask me?</label>
        <br/>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

      </form>
    </div>

    <!--  Social media icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--  Social media icons -->
    <a href="https://www.instagram.com/larisacarli/" class="fa fa fa-instagram"></a>
    <a href="https://www.youtube.com/user/laralaraxdxd/featured" class="fa fa-youtube"></a>

</body>

</html>