<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a class="active" href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- Paintings - Slideshow --->

    <div id="slideshow">
       <div>
         <img src="static/images/haloze_potka2.jpg" style="width:100%">
       </div>
       <div>
         <img src="static/images/krave_haloze.jpg" style="width:100%">
       </div>
       <div>
           <img src="static/images/soncni_zahod_areh.jpg" style="width:100%">
       </div>
       <div>
           <img src="static/images/zima.jpg" style="width:100%">
       </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() {
      $('#slideshow > div:first')
        .fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo('#slideshow');
    },  3000);
</script>


</body>

</html>