<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>

<body>
    <div class="shopping-cart" style="width:800px">
        <div class="basket_title"> Your purchase: (Static for now) </div>

        <div class="container" style="background-color:white">
            <div style="overflow-x:auto;">
              <table class="invoice_table">
                <tr class="invoice_row">
                  <th class="invoice_column"> Painting type </th>
                  <th class="invoice_column"> Painting title </th>
                  <th class="invoice_column"> Price </th>
                </tr>
                <tr class="invoice_row">
                  <td class="invoice_column"> Pastel painting </td>
                  <td class="invoice_column"> Haloze </td>
                  <td class="invoice_column"> 135 € </td>
                </tr>
              </table>
            </div>
        </div>

        <div class="basket_item" style="width:100%; height: 60px; border-top:1px solid #E1E8EE;">
            <div  style="width:100%; text-align:right"> Price total: 135 € </div>
        </div>
    </div>
</body>
</html>