

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Larisa Carli | Fine Art</title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>
<body>

    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a class="active" href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!--- Login --->
    <div class="shopping-cart">
        <form method="post" action="/store/login_submit">
          <div class="container">
              <!--- Preverimo, če je treba prikazati kako sporočilo o uspešnosti/neuspešnosti --->
              <% if registration_confirmed: %>
                <div class="success">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  Your registration was successful. Please log in.
                </div>
            <% end %>

            <% if previous_login_failed: %>
                <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  Your email or password is incorrect. Please try again.
                </div>
            <% end %>

              <!--- Login forma --->

            <label class="my_label"><b>Email</b></label>
            <input type="email" placeholder="Enter email" name="email" required>
            <br/>

            <label class="my_label"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br/>

            <button type="submit">Login</button>
          </div>
        </form>
    </div>

</body>
</html>