<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Larisa Carli | Fine Art</title>
    <link href="/static/trgovina.css" rel="stylesheet">
</head>
<body>
    <!--- Register --->
    <form method="post" action="/store/register_submit">
      <div class="container">
        <label class="my_label"><b>Name</b></label>
        <input type="text" placeholder="Enter your name" name="name" required>
        <br/>

        <label class="my_label"><b>Surname</b></label>
        <input type="text" placeholder="Enter your surname" name="surname" required>
        <br/>

        <label class="my_label"><b>Email</b></label>
        <input type="email" placeholder="Enter your email" name="email" required>
        <br/>

        <label class="my_label"><b>Password</b></label>
        <input type="password" placeholder="Enter your password" name="password" required>
        <br/>

        <button class="submit_button" type="submit"> Register </button>
      </div>
    </form>
</body>
</html>