<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href='static/trgovina.css' rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!-- Portfolio Gallery Grid -->

    <% if show_alert: %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Please login to add a painting to your basket.
        </div>
    <% end %>

    <table class="shopping_basket_table" style="margin-right: 30px">
        <tr>
            <% if uporabnik is not None: %>
                <!--- Shopping basket --->
                <th>
                    <form method="get" action="/basket" style="border:none">
                        <input class="shopping_basket_upper" type="image" src="static/images/basket.png" />
                    </form>
                </th>
                <th class="store_image_subtitle"> {{cena_kosarice}} € </th>
            <% end %>
            <% if uporabnik is None: %>
                    <!--- Register, login button --->
                <th>
                    <form action="/store/register" method="get" style="border:none">
                        <button type="submit" class="store_button" value="Submit">Register</button>
                    </form>
                </th>
                <th>
                    <form action="/store/login" method="get" style="border:none">
                        <button type="submit" class="store_button" value="Submit">Login</button>
                    </form>
                </th>
            <% end %>

        </tr>
    </table>

    <!--- Store products: ---->

    <div class="row">
        <% for (id, dosegljivost, naslov, pot, vrsta, cena) in slike: %>
          <div class="column">
            <div class="content">
              <img src="static/images/{{pot}}.jpg" style="width:100%">
              <h3> {{naslov}} </h3>
              <table style="width:100%; height:50px;">
                <tr>
                    <th class="store_image_subtitle"> Price: {{cena}} € </th>
                    <% if dosegljivost == 1: %>
                        <th>
                            <form method="post" action="/store/add_to_basket{{id}}" style="color: white; border:none">
                                <input class="shopping_basket" type="image" src="static/images/basket.png" />
                            </form>
                        </th>
                    <% elif dosegljivost == 0: %>
                        <th class="store_image_subtitle" style="color: #d35541"> Sold </th>
                    <% end %>
                 </tr>
              </table>
            </div>
          </div>
        <% end %>
    </div>



</body>

</html>