<!DOCTYPE html>
<html lang="en">

<head>
    <title>Larisa Carli | Fine Art</title>
    <link href='static/trgovina.css' rel="stylesheet">
</head>

<body>
    <h1 class="topheading">
        Larisa Carli
    </h1>

    <div class="topnavigation" id="TopNavigation">
      <a href="/">Home</a>
        <a href="/store">Store</a>
      <a href="/aboutme">About</a>
        <a href="/contact">Contact</a>
    </div>

    <!-- Portfolio Gallery Grid -->

    <div class="row">
        <% for i in range(number_of_images): %>
          <div class="column">
            <div class="content">
              <img src="static/images/{{image_name}}.jpg" style="width:100%">
              <h3> {{image_title}} </h3>
              <table style="width:100%">
                <tr>
                    <th class="store_image_subtitle"> Price: {{image_price}} € </th>
                    <th> <input class="shopping_basket" type="image" src="static/images/basket.png" /> </th>
                 </tr>
              </table>
            </div>
          </div>
        <% end %>

      <div class="column">
        <div class="content">
          <img src="static/images/haloze_potka2.jpg" style="width:100%">
          <h3>Inspired by Haloze, Slovenia</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="static/images/krava.jpg" style="width:100%">
          <h3> Pasture </h3>
          <p>Inspired by a cow pasturing in Slovene Alps</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="static/images/haloze_potka1.jpg" style="width:100%">
          <h3>Pathway in Haloze</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
    </div>

    <!--- Register, login button --->
    <form action="/store/register" method="get">
      <button type="submit" value="Submit">Register</button>
    </form>
    <form action="/store/login" method="get">
      <button type="submit" value="Submit">Login</button>
    </form>



</body>

</html>